.teamsTitle {
  justify-content: space-between;
}
.teamsWrapper.closed .teamsInner {
  display: none;
}
@media all and (max-width:576px){
  .scoreboard .row>div:nth-child(1){
    order: 2;
  }
  .scoreboard .row>div:nth-child(2){
    order: 1;
  }
  .scoreboard .row>div:nth-child(3){
    order: 3;
  }
}